# settings Files
application.py
application.properties

# codeql
learning-hack/learning-codeql/vscode-codeql-starter/ql
learning-hack/learning-codeql/src/python/nova

# Compiled class file
*.class
*.classpath
*.factorypath
learning-language/learning-cpp/learning-clang/build
learning-language/learning-cpp/learning-cmake/**/build
learning-language/**/cmake-build-debug

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE Files #
*.iml
.idea
.idea/
.project
.settings
target/
.DS_Store

# temp ignore
*.cache
*.diff
*.patch
*.tmp

# new module ignore
.mvn
HELP.md
mvnw
mvnw.cmd
